@model Equipment
@{
    ViewData["Title"] = "Equipment bewerken";
    var breadcrumbs = new Dictionary<string, string>
    {
        { "Equipment", "/equipment" },
        { "Bewerken", "/equipment/edit" }
    };
}

<component type="typeof(NinjaApp.Views.Components.TitleAndBreadcrumb)"
           render-mode="Static"
           param-title="@ViewData["title"]"
           param-breadcrumbs="@breadcrumbs" />

<div class="row">
    <div class="col-12 col-md-8 ps-0">
        <div class="custom-card">
            <form class="card-body" method="post" asp-controller="Equipment" asp-action="Update">
                <input type="hidden" name="Id" value="@Model.Id">
                <div class="form-group">
                    <label for="name">Naam</label>
                    <input type="text" class="form-control" id="name" required value="@Model.Name"
                           name="Name" placeholder="De naam voor de equipment"
                           oninput="document.getElementById('name-example-title').innerHTML = this.value">
                </div>
                <div class="form-group">
                    <label for="category">Categorie</label>
                    <select class="form-select" id="category" required name="Category">
                        <option value="" selected disabled>Selecteer een categorie</option>
                        @if (ViewBag.SlotCategories != null)
                        {
                            @foreach (var category in ViewBag.SlotCategories)
                            {
                                @if (category == @Model.Category)
                                {
                                    <option value="@category" selected>@category</option>
                                }
                                else
                                {
                                    <option value="@category">@category</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="strength">Strength</label>
                    <input type="number" class="form-control" id="strength" required max="99999" value="@Model.Strength"
                           name="Strength" placeholder="De strength van de equipment"
                           oninput="document.getElementById('strength-example').innerHTML = this.value">
                </div>
                <div class="form-group">
                    <label for="intelligence">Intelligence</label>
                    <input type="number" class="form-control" id="intelligence" required max="99999" value="@Model.Intelligence"
                           name="Intelligence" placeholder="De intelligence van de equipment"
                           oninput="document.getElementById('intelligence-example').innerHTML = this.value">
                </div>
                <div class="form-group">
                    <label for="agility">Agility</label>
                    <input type="number" class="form-control" id="agility" required max="99999" value="@Model.Agility"
                           name="Agility" placeholder="De agility van de equipment"
                           oninput="document.getElementById('agility-example').innerHTML = this.value">
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" id="price" required min="1" max="99999" value="@Model.Price"
                           name="Price" placeholder="De price van de equipment"
                           oninput="document.getElementById('price-example').innerHTML = this.value">
                </div>
                <div class="d-flex gap-2 justify-content-between">
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                        <i class="fa-regular fa-trash-can"></i>
                        Verwijder
                    </button>
                    <div>
                        <a asp-controller="Equipment" asp-action="Index" class="btn btn-secondary">Terug</a>
                        <button type="submit" class="btn btn-primary">Opslaan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <p class="fst-italic fw-bold mb-2">Voorbeeld van de Equipment</p>
        <div class="custom-card">
            <div class="card-header d-flex">
                <h4 class="card-title" id="name-example-title">@Model.Name</h4>
            </div>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="value-badge strength" data-bs-toggle="tooltip" data-bs-title="Strength">
                            <div><span id="strength-example">@Model.Strength</span>&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="value-badge intelligence" data-bs-toggle="tooltip" data-bs-title="Intelligence">
                            <div><span id="intelligence-example">@Model.Intelligence</span>&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="value-badge agility" data-bs-toggle="tooltip" data-bs-title="Agility">
                            <div><span id="agility-example">@Model.Agility</span>&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="value-badge price" data-bs-toggle="tooltip" data-bs-title="Price">
                            <div><span id="price-example">@Model.Price</span>&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bevestig Verwijdering</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Weet je zeker dat je @Model.Name wilt verwijderen?
                Als er ninja's zijn die deze equipment gebruiken, zullen zij het betaalde bedrag terugkrijgen.

                <p class="text-danger mt-3">
                    <i class="fas fa-exclamation-triangle"></i>
                    Deze actie kan niet ongedaan worden gemaakt!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleer</button>
                <a asp-controller="Equipment" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" id="confirmDeleteButton">Verwijder</a>
            </div>
        </div>
    </div>
</div>
