@using NinjaApp.Models
@code {
    [Parameter]
    public required Ninja Ninja { get; set; }
}

<div class="custom-card">
    <div class="card-header p-0">
        <div class="p-3 d-flex align-items-center justify-content-between">
            <a href="/inventory/@Ninja.Id">
                <h4 class="card-title">@Ninja.Name</h4>
            </a>
            <a href="/inventory/edit/@Ninja.Id" class="fs-4" data-bs-toggle="tooltip" data-bs-title="Naam bewerken">
                <i class="fa-regular fa-pen-to-square"></i>
            </a>
        </div>
        <a href="/inventory/@Ninja.Id">
            <div class="img-container w-100" style="max-height: 300px">
                <img src="/img/ninja.png" alt="Ninja" onerror="this.onerror=null;this.src='https://placehold.co/353x300?text=Ninja%20Manager';">
            </div>
        </a>
    </div>
    <div class="card-body text-center pt-0">
        <div class="value-badge-long gear-value-large mt--50" data-bs-toggle="tooltip" data-bs-title="Gear value">
            <p>@Ninja.GetTotalGearValue()</p>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="value-badge strength" data-bs-toggle="tooltip" data-bs-title="Strength">
                    <div>@Ninja.GetTotalGearStrength()</div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="value-badge intelligence" data-bs-toggle="tooltip" data-bs-title="Intelligence">
                    <div>@Ninja.GetTotalGearIntelligence()</div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="value-badge agility" data-bs-toggle="tooltip" data-bs-title="Agility">
                    <div>@Ninja.GetTotalGearAgility()</div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="value-badge gold" data-bs-toggle="tooltip" data-bs-title="Gold">
                    <div>@Ninja.Gold</div>
                </div>
            </div>
        </div>
    </div>
</div>