@model Ninja

@{
    ViewBag.Title = @Model.Name;
    var breadcrumbs = new Dictionary<string, string>
    {
        { "Ninja's", "/ninjas" },
        { Model.Name, "/inventory/" + Model.Id }
    };
}

<component type="typeof(NinjaApp.Views.Components.TitleAndBreadcrumb)"
           render-mode="Static"
           param-title="@ViewData["title"]"
           param-breadcrumbs="@breadcrumbs" />

<p>Ninja naam: @Model.Name</p>
<p>Ninja id: @Model.Id</p>
