@using NinjaApp.Models.Enums
@model Ninja
@{
    ViewBag.Title = @Model.Name;
    var breadcrumbs = new Dictionary<string, string>
    {
        { "Ninja's", "/ninjas" },
        { "Inventory", "/inventory/" + Model.Id }
    };
}

<component type="typeof(NinjaApp.Views.Components.TitleAndBreadcrumb)"
           render-mode="Static"
           param-breadcrumbs="@breadcrumbs" />
           
<div class="row mb-3">
    <div class="col-12 col-lg px-0 d-flex align-items-center gap-3">
        <h2 class="h3 m-0">@Model.Name</h2>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary border-0" data-bs-title="Ninja bewerken" data-bs-toggle="tooltip">
            <i class="fas fa-edit"></i>
        </a>
    </div>
    
    <div class="col-12 col-lg d-flex flex-lg-nowrap flex-wrap gap-1 justify-content-end px-0">
        <div class="value-badge gold m-0" data-bs-toggle="tooltip" data-bs-title="Gold">
            <div>@Model.Gold</div>
        </div>
        <div class="vr mx-2 d-none d-lg-block"></div>
        <a class="align-items-center btn btn-primary d-flex gap-2 justify-content-center px-3 rounded-pill" 
           data-bs-toggle="tooltip" data-bs-title="Open de shop voor deze ninja"
           asp-controller="Shop" asp-action="Index" asp-route-ninjaId="@Model.Id">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"/>
            </svg>
            <span>Shop</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6 col-lg-3 order-1 ps-0">
        <div class="row flex-column gap-2 row-p-0">
            <div class="col">
                <component type="typeof(NinjaApp.Views.Components.InventoryItem)"
                           render-mode="Static"
                           param-Ninja="@Model"
                           param-SlotCategory="@SlotCategory.Head" />
            </div>
            <div class="col">
                <component type="typeof(NinjaApp.Views.Components.InventoryItem)"
                           render-mode="Static"
                           param-Ninja="@Model"
                           param-SlotCategory="@SlotCategory.Hand" />
            </div>
            <div class="col">
                <component type="typeof(NinjaApp.Views.Components.InventoryItem)"
                           render-mode="Static"
                           param-Ninja="@Model"
                           param-SlotCategory="@SlotCategory.Feet" />
            </div>
        </div>
    </div>
    
    <div class="col-12 col-lg-6 text-md-center d-lg-block order-3 order-lg-2">
        <div class="custom-card sticky-top" style="top: 6rem">
            <div class="card-header d-flex flex-wrap justify-content-center" style="column-gap: 1em;">
                <div class="value-badge gear-value" data-bs-toggle="tooltip" data-bs-title="Gear value">
                    <div>@Model.GetTotalGearValue()</div>
                </div>
                <div class="value-badge strength" data-bs-toggle="tooltip" data-bs-title="Strength">
                    <div>@Model.GetTotalGearStrength()</div>
                </div>
                <div class="value-badge intelligence" data-bs-toggle="tooltip" data-bs-title="Intelligence">
                    <div>@Model.GetTotalGearIntelligence()</div>
                </div>
                <div class="value-badge agility" data-bs-toggle="tooltip" data-bs-title="Agility">
                    <div>@Model.GetTotalGearAgility()</div>
                </div>
                <div class="value-badge price" data-bs-toggle="tooltip" data-bs-title="Huidige waarde van inventory">
                    <div>@Model.GetTotalGearPrice()</div>
                </div>
            </div>
            <div class="card-body">
                <img src="/img/ninja.png" class="img-fluid rounded w-50" alt="@Model.Name" onerror="this.onerror=null;this.src='https://placehold.co/353x300?text=Ninja%20Manager';"/>
            </div>
            <div class="card-footer text-center">
                <div data-bs-toggle="tooltip" data-bs-title="Verwijder alle items van deze ninja">
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                        <i class="fas fa-broom"></i>
                        Inventory leegmaken
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-md-6 col-lg-3 text-md-end order-2 order-lg-3 pe-0">
        <div class="row flex-column gap-2 row-p-0">
            <div class="col">
                <component type="typeof(NinjaApp.Views.Components.InventoryItem)"
                           render-mode="Static"
                           param-Ninja="@Model"
                           param-SlotCategory="@SlotCategory.Necklace" />
            </div>
            <div class="col">
                <component type="typeof(NinjaApp.Views.Components.InventoryItem)"
                           render-mode="Static"
                           param-Ninja="@Model"
                           param-SlotCategory="@SlotCategory.Chest" />
            </div>
            <div class="col">
                <component type="typeof(NinjaApp.Views.Components.InventoryItem)"
                           render-mode="Static"
                           param-Ninja="@Model"
                           param-SlotCategory="@SlotCategory.Ring" />
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bevestig leegmaken inventory</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Weet je zeker dat je de inventory van @Model.Name wilt leegmaken? <br/>
                De ninja krijgt het betaalde goud terug.
                
                <p class="text-danger mt-3">
                    <i class="fas fa-exclamation-triangle"></i>
                    Deze actie kan niet ongedaan worden gemaakt!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleer</button>
                <a asp-controller="Inventory" asp-action="ClearAll" asp-route-id="@Model.Id" class="btn btn-danger" id="confirmDeleteButton">
                    Inventory leegmaken
                </a>
            </div>
        </div>
    </div>
</div>
