@model List<Ninja>
@{
    ViewData["Title"] = "Ninja's overzicht";
}
<div>
    <div class="d-flex justify-content-between align-items-lg-center flex-column flex-lg-row">
        <div>
            <h1>Ninja's overzicht</h1>
        </div>
        <div class="d-flex gap-2 mb-4 mb-lg-0 row-cols-2 row-cols-lg-auto">
            <form method="get" asp-action="Index">
                <div class="input-group">
                    <input class="form-control" name="search" type="search" list="datalistOptions" placeholder="Zoek een ninja..." />
                    <button class="btn btn-outline-secondary border" type="submit">
                        <i class="fa-solid fa-search"></i>
                    </button>
                </div>
                <datalist id="datalistOptions">
                    @if (Model.Any())
                    {
                        List<string> options = new List<string>();
                        foreach (var ninja in Model)
                        {
                            if (!options.Contains(ninja.Name))
                            {
                                options.Add(ninja.Name);
                            }
                        }
                        
                        foreach (var option in options)
                        {
                            <option value="@option"></option>
                        }
                    }
                    </datalist>
            </form>
            <a href="/ninjas/new" class="btn btn-primary float-right">
                <i class="fa-solid fa-plus"></i>
                Nieuwe ninja
            </a>
        </div>
    </div>
    <p>Welkom bij de Ninja Manager. Hier kun je al je ninja's, hun gear en exclusieve items beheren!</p>
</div>

<div>
    @if (!Model.Any())
    {
        <div class="custom-card">
            <div class="card-body">
                <p class="py-5 m-0 text-center text-clr-ter">
                    @(
                    ViewBag.Search == null
                        ? "Er zijn nog geen ninja's aangemaakt. Klik op de knop hierboven om een nieuwe ninja aan te maken."
                        : $"Er zijn geen zoekresultaten voor: {ViewBag.Search}"
                    )
                </p>
            </div>
        </div>
    }
    else
    {
        @if (ViewBag.Search != null) { <p class="text-primary">Zoekresultaten voor: @ViewBag.Search <a asp-action="Index"><i class="fa-solid fa-times"></i></a></p> }
        <div class="row">
            @foreach (var ninja in Model)
            {
                <div class="p-2 col-12 col-md-6 col-lg-4">
                    <div class="custom-card">
                        <div class="card-header text-center">
                            <h4 class="card-title">@ninja.Name</h4>
                        </div>
                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col-12">
                                    <div class="value-badge-long gear-value-large" data-bs-toggle="tooltip" data-bs-title="Gear value">
                                        @* <p>@ninja.GetTotalGearValue()</p> *@
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="value-badge strength" data-bs-toggle="tooltip" data-bs-title="Strength">
                                        @* <div>@ninja.GetTotalGearStrength()</div> *@
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="value-badge intelligence" data-bs-toggle="tooltip" data-bs-title="Intelligence">
                                        @* <div>@ninja.GetTotalGearIntelligence()</div> *@
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="value-badge agility" data-bs-toggle="tooltip" data-bs-title="Agility">
                                        <div>@ninja.GetTotalGearAgility()</div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="value-badge gold" data-bs-toggle="tooltip" data-bs-title="Gold">
                                        <div>@ninja.Gold</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row gap-2">
                                <a href="/inventory/@ninja.Id" class="btn btn-outline-secondary col">
                                    <i class="fa-regular fa-eye"></i>
                                    Bekijk
                                </a>
                                <a asp-controller="Inventory" asp-action="Edit" asp-route-id="@ninja.Id" class="btn btn-outline-secondary col">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    Bewerk
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
